
<div id="content" style="height: 512px; width: 450px; position: absolute">
  <div style="font-size: 15px">
    <div style="font-size: 18px">Event Log</div>
    <div style="border: 1px solid; border-color: #D5D5D5; width: 50%; margin-top: 5px"></div>
  </div>

  <br><br>
  <table class="table" style="font-family: monospace; width:700px">
    <thead>
    <tr>
      <th style="width:50px">Index</th>
      <th style="width:100px">Timestamp</th>
      <th style="text-align: center; width:100px">Priority</th>
      <th style="width:400px">Event Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>001</td>
      <td>2014-Jun-10 14:47:02:001</td>
      <td style="text-align: center">1</td>
      <td>Device Initialization Complete</td>
    </tr>
    <tr>
      <td>002</td>
      <td>2014-Jun-10 14:47:03:053</td>
      <td style="text-align: center">2</td>
      <td>'Port A' joined 'Channel #1'</td>
    </tr>
    <tr>
      <td>003</td>
      <td>2014-Jun-10 14:47:06:542</td>
      <td style="text-align: center">3</td>
      <td>'Port B' joined 'Channel #1'</td>
    </tr>
    </tbody>
  </table>


</div>
