
<div style="margin-left:30px; margin-top:35px">

  <div>
    
    <div class="device-container-outer">
      <div class="device-container-inner">

        <a ng-href="#/view/device/{{device.device_id}}/general" style="margin-top: -25px; margin-left:5px">
          Discovered Device
          <div style="margin-bottom: 4px"></div>
          <div class="device-left-outer">
            <div class="device-left-inner">
              <div class="device-model">
                LQ-SMPL</div>
              <div style="margin-left:15px">
                <div class="device-interface-lan">
                  <div class="active">
                    LAN 1</div></div>
                <div class="device-interface-lan">
                  LAN 2</div></div>
              <div style="margin-top:25px">
                <div class="device-interface">
                  <div class="active">
                    4W</div></div>
              </div></div>
          </div>
        </a>
        
        <a ng-href="#/view/device/{{device.deviceId}}/general">
          <div class="device-right-outer">
            <div class="device-right-inner">
              <div class="device-status-outer">
                <div class="device-status-inner">
                  <img src="../../images/ok.png" style="height:26px">
                </div></div></div></div>
        </a>
      </div>
    </div>
  </div>

</div>
